html, body {
  min-height: 100%;
  margin: 0;
  background-color: lightgrey;
}

#header {
  position: fixed;
  background-color: dimgray;
  float: left;
  min-width: 100%;
  margin: 0;
  height: 60px;
  line-height: 60px;
}

#content {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  padding-top: 60px;
  background-color: antiquewhite;
}

#movieposter{
  height: 400px;
  display: inline-block;
  float: left;
}

#images{
  clear: both;
  height: 500px;
}

#logo img{
  height: 60px;
  display: inline;
  float: left;
  padding-left: 10px;
}

#headersearch{
  color: red;
  background-color: aqua;
  float: right;
  display: inline;
  height: 60px;
  padding: 0 20px;
}

#header ul{
  display: inline;
  list-style-type: none;
}

#header li{
  float:left;
  margin-left: 40px;
}

#header li a {
  padding: 10px 15px;
  background-color: #FFF;
  text-decoration: none;
  text-align: center;
  border: 1px solid black;
}

#header li a:hover {
  background-color: black;
}

#images img{
  display: inline-block;
}