/* --------basic--------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}

html {
  min-height: 100%;
  width: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-color: whitesmoke;
}

a {
  text-decoration: none; font-weight: bold; color: limegreen;
}

a:hover{
  background-color: darkslategray;
}

.container {
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
  position: relative;
}

.stretchdiv {
  flex-grow: 1;
}

* {
  font-family: Lobster;
  font-style: normal;
  font-variant: normal;
}

/* --------header--------- */

.top-header, .search-header {
  position: fixed;
  border-bottom: 1px solid black;
  height: 60px;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(54, 25, 25, .8);
}

.search-header {
  border: 0px;
  background-color: white;
  padding-top: 60px;
  height: 50px;
  z-index: 98;
}

.searchbar-wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 10%;
}

header {
  max-width: 1200px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}

#pageTitle {
  margin-left: 10px;
  font-size: 35px;
  box-sizing: border-box;
  width: 190px;
}

header a {
  line-height: 60px;
  padding: 0 10px;
  display: block;
}

#menu li {
  display: inline-block;
}

#menu-icon {
  display: none;
}

#profile, #menu-icon{
  position: relative;
  float: right;
  padding: 10px;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
}

#profile img {
  border-radius: 50%;
  height: 100%;
}

#profile:hover #logon {
  display: block;
}

/* ------clickboxes------- */

#logon {
  display: none;
  text-align: center;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 200px;
  padding: 10px;
  line-height: 40px;
  background: rgba(54, 25, 25, .8);
}

.button {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 2px;
}

.button:hover {
  background-color: darkslategrey;
}

#showMore {
  position: relative;
  align-self: center;
  margin: 0px auto 15px;
  display: block;
  max-width: 600px;
}

#cardSizeBtn {
  position: absolute;
  right: 20px;
  margin-top: -6px;
}

/* ---------main-------- */

.movie {
  display: inline-block;
  margin-right: 10px;
}

.moviePoster {
  height: 250px;
  width: 190px; /* ratio lays between 1,3 & 1,5 */
  float: left;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.moviePoster img{
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.posterTitle {
  z-index: 1;
  font-size: 40px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  white-space: pre-wrap;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.movie:hover .moviePoster img{
  filter: blur(8px);
  z-index: 0;
}

/* ---------search++------- */

.search-container {
  padding: 30px 10px 20px;
}

.search-container p{
  margin-top: 15px;
}

form > div {
  height: 50px;
}

#quickSearchForm {
  position: relative;
  z-index: 11;
}

#quickSearchForm input[type="text"] {
  width: calc(100% - 100px);
  height: 100%;
  font-size: 18px;
  box-sizing: border-box;
  padding-left: 10px;
  border-radius: 2px;
  border: 0px;
}

#quickSearchForm .button {
  height: 100%;
  width: 100px;
  box-sizing: border-box;
  margin-left: -4px;
}

#quickSearchBox {
  margin-top: 5px;
  border-radius: 2px;
  box-sizing: border-box;
  height: 0;
  opacity: 0;
  background-color: whitesmoke;
  z-index: 11;
  position: absolute;
  transition: height 0.4s;
  max-height: 800px;
  overflow: hidden;
  width: calc(100% - 100px);
}

#quickSearchBox .card-wrapper {
  padding: 5px 10px;
}

#quickSearchBackground {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 0;
  opacity: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(54, 25, 25, .8);
}

/* --------movieinfo-------*/

.jumbotron {
  box-sizing: border-box;
  padding: 0 10px 0 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.jumbotron-wrapper {
  display: flex;
  padding-top: 60px;
  width: 100%;
  background-image: url(../images/wall.jpg);
  border-bottom: 1px solid black;
}

.movieHeader{
  overflow: auto;
  height: 100%;
}

.movieInfo {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  height: 100%;
}

.movieInfo > * {
  box-sizing: border-box;
  width: 50%
}

.movieTitle {
  width: 100%;
  font-size: 30px;
  border-bottom: 1px solid black;
  margin-bottom: 80px;
}

.year, .runtime{
  text-align: right;
  flex-shrink: 1;
}

.genre, .country {
  flex-grow: 1;
}

#Description , #Actors, #Reviews{
  line-height: 25px;
}

iframe{
  width: 100%;
  height: 350px;
}

.left{
  float: left;
}

.right{
  float: right;
}

/* ------------cards------------- */

.cards-container{
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
}

.card-wrapper {
  flex-basis: 600px;
  flex-shrink: 1;
  padding: 10px 20px;
  box-sizing: border-box;
  max-width: 100%;
}

.card-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.card {
  box-sizing: border-box;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.movieCard {
  max-width: 800px;
  padding: 0;
  overflow: auto;
  height: 100%;
}

.tinyCard {
  max-height: 80px;
  line-height: 40px;
  margin-bottom: 0px;
  padding: 0px;
}

.tinyCard .movieTitle {
  border: inherit;
  margin-bottom: 0px;
  height: 40px;
  overflow: hidden;
}

.tinyCard .moviePoster {
  height: 60px;
  width: 45px;
}

.tinyCard p, .tinyCard .button {
  display: none;
}

.flexBasis {
  flex-basis: 800px;
}

.movieCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.12);
}

.moviescroller {
  min-width: 100%;
  padding-right: 0;
}

.moviescroller .card {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.imgscroller img {
  max-height: 400px;
  margin-right: 10px;
  margin-bottom: -4px;
}

table {
  width: 100%;
  text-align: center;
}

td, th{
  height: 30px;
  vertical-align: middle;
}

/* -----------footer------------ */

footer {
  background-image: url(../images/wall.jpg);
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0px;
}

/*------media query--------*/

@media only screen and (max-width : 640px) {
  
  /* when mobile: hide nav, change format to box */
  nav {
    display: none;
    text-align: center;
    position: absolute;
    top: 60px;
    right: 0px;
    width: 200px;
    padding: 10px;
    line-height: 40px;
    background: rgba(54, 25, 25, .75);
  }
  
  /* show menu icon, display nav box on hover */
  #menu-icon, #menu li, #menu:hover nav {
    display: block;
  }
  
  .moviePoster {
    height: 200px;
    width: 150px;
  }
  
  header, .jumbotron {
    padding: 0;
  }
  
  .movieTitle {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width : 1200px) {
  
}